// Main Colors
$color-blue-dark:   #05386b;
$color-green-dark:  #379683;
$color-green:       #5cdb85;
$color-green-light: #8ee4af;
$color-white-green: #edf5e1;

$color-white:       #fff;
$color-black:       #000;

// Status Colors
$color-success:     #5cdb85;
$color-warning:     #ffe400;
$color-error:       #fc4445;

// Text Colors
$color-text-dark:   #222;
$color-text-light:  #f1f1f1;
