// Main Colors
$color-blue-dark:   #2C3E50;
$color-orange:      #E74C3C;
$color-light:       #ECF0F1;
$color-blue:        #3498DB;
$color-blue-mid:    #2980B9;

$color-white:       #fff;
$color-black:       #000;

// Status Colors
$color-success:     #58E75F;
$color-warning:     #E7D13C;
$color-error:       #E74C3C;

// Text Colors
$color-text-dark:   #222;
$color-text-light:  #f1f1f1;
