// Google Fonts
// Font Imports
// Roboto -----------------------------------------------------------------------------------------------
/*
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto'),
  url('assets/fonts/Roboto/RobotoBlack/Roboto-Black.woff2') format('woff2'),
  url('assets/fonts/Roboto/RobotoBlack/Roboto-Black.woff') format('woff'),
  url('assets/fonts/Roboto/RobotoBlack/Roboto-Black.ttf') format('ttf'),
  url('assets/fonts/Roboto/RobotoBlack/Roboto-Black.eot') format('eot');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
  url('assets/fonts/Roboto/RobotoBold/Roboto-Bold.woff2') format('woff2'),
  url('assets/fonts/Roboto/RobotoBold/Roboto-Bold.woff') format('woff'),
  url('assets/fonts/Roboto/RobotoBold/Roboto-Bold.ttf') format('ttf'),
  url('assets/fonts/Roboto/RobotoBold/Roboto-Bold.eot') format('eot');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'),
  url('assets/fonts/Roboto/RobotoMedium/Roboto-Medium.woff2') format('woff2'),
  url('assets/fonts/Roboto/RobotoMedium/Roboto-Medium.woff') format('woff'),
  url('assets/fonts/Roboto/RobotoMedium/Roboto-Medium.ttf') format('ttf'),
  url('assets/fonts/Roboto/RobotoMedium/Roboto-Medium.eot') format('eot');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto'),
  url('assets/fonts/Roboto/RobotoMediumItalic/Roboto-MediumItalic.woff2') format('woff2'),
  url('assets/fonts/Roboto/RobotoMediumItalic/Roboto-MediumItalic.woff') format('woff'),
  url('assets/fonts/Roboto/RobotoMediumItalic/Roboto-MediumItalic.ttf') format('ttf'),
  url('assets/fonts/Roboto/RobotoMediumItalic/Roboto-MediumItalic.eot') format('eot');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
  url('assets/fonts/Roboto/RobotoRegular/Roboto-Regular.woff2') format('woff2'),
  url('assets/fonts/Roboto/RobotoRegular/Roboto-Regular.woff') format('woff'),
  url('assets/fonts/Roboto/RobotoRegular/Roboto-Regular.ttf') format('ttf'),
  url('assets/fonts/Roboto/RobotoRegular/Roboto-Regular.eot') format('eot');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'),
  url('assets/fonts/Roboto/RobotoLight/Roboto-Light.woff2') format('woff2'),
  url('assets/fonts/Roboto/RobotoLight/Roboto-Light.woff') format('woff'),
  url('assets/fonts/Roboto/RobotoLight/Roboto-Light.ttf') format('ttf'),
  url('assets/fonts/Roboto/RobotoLight/Roboto-Light.eot') format('eot');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto'),
  url('assets/fonts/Roboto/RobotoLightItalic/Roboto-LightItalic.woff2') format('woff2'),
  url('assets/fonts/Roboto/RobotoLightItalic/Roboto-LightItalic.woff') format('woff'),
  url('assets/fonts/Roboto/RobotoLightItalic/Roboto-LightItalic.ttf') format('ttf'),
  url('assets/fonts/Roboto/RobotoLightItalic/Roboto-LightItalic.eot') format('eot');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto'),
  url('assets/fonts/Roboto/RobotoThin/Roboto-Thin.woff2') format('woff2'),
  url('assets/fonts/Roboto/RobotoThin/Roboto-Thin.woff') format('woff'),
  url('assets/fonts/Roboto/RobotoThin/Roboto-Thin.ttf') format('ttf'),
  url('assets/fonts/Roboto/RobotoThin/Roboto-Thin.eot') format('eot');
}
// Roboto Mono -----------------------------------------------------------------------------------------------
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono'),
  url('assets/fonts/Roboto_Mono/RobotoMonoBold/RobotoMono-Bold.woff2') format('woff2'),
  url('assets/fonts/Roboto_Mono/RobotoMonoBold/RobotoMono-Bold.woff') format('woff'),
  url('assets/fonts/Roboto_Mono/RobotoMonoBold/RobotoMono-Bold.ttf') format('ttf'),
  url('assets/fonts/Roboto_Mono/RobotoMonoBold/RobotoMono-Bold.eot') format('eot');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'),
  url('assets/fonts/Roboto_Mono/RobotoMonoMedium/RobotoMono-Medium.woff2') format('woff2'),
  url('assets/fonts/Roboto_Mono/RobotoMonoMedium/RobotoMono-Medium.woff') format('woff'),
  url('assets/fonts/Roboto_Mono/RobotoMonoMedium/RobotoMono-Medium.ttf') format('ttf'),
  url('assets/fonts/Roboto_Mono/RobotoMonoMedium/RobotoMono-Medium.eot') format('eot');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto'),
  url('assets/fonts/Roboto_Mono/RobotoMonoMediumItalic/RobotoMono-MediumItalic.woff2') format('woff2'),
  url('assets/fonts/Roboto_Mono/RobotoMonoMediumItalic/RobotoMono-MediumItalic.woff') format('woff'),
  url('assets/fonts/Roboto_Mono/RobotoMonoMediumItalic/RobotoMono-MediumItalic.ttf') format('ttf'),
  url('assets/fonts/Roboto_Mono/RobotoMonoMediumItalic/RobotoMono-MediumItalic.eot') format('eot');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
  url('assets/fonts/Roboto_Mono/RobotoMonoRegular/RobotoMono-Regular.woff2') format('woff2'),
  url('assets/fonts/Roboto_Mono/RobotoMonoRegular/RobotoMono-Regular.woff') format('woff'),
  url('assets/fonts/Roboto_Mono/RobotoMonoRegular/RobotoMono-Regular.ttf') format('ttf'),
  url('assets/fonts/Roboto_Mono/RobotoMonoRegular/RobotoMono-Regular.eot') format('eot');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'),
  url('assets/fonts/Roboto_Mono/RobotoMonoLight/RobotoMono-Light.woff2') format('woff2'),
  url('assets/fonts/Roboto_Mono/RobotoMonoLight/RobotoMono-Light.woff') format('woff'),
  url('assets/fonts/Roboto_Mono/RobotoMonoLight/RobotoMono-Light.ttf') format('ttf'),
  url('assets/fonts/Roboto_Mono/RobotoMonoLight/RobotoMono-Light.eot') format('eot');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto'),
  url('assets/fonts/Roboto_Mono/RobotoMonoThin/RobotoMono-Thin.woff2') format('woff2'),
  url('assets/fonts/Roboto_Mono/RobotoMonoThin/RobotoMono-Thin.woff') format('woff'),
  url('assets/fonts/Roboto_Mono/RobotoMonoThin/RobotoMono-Thin.ttf') format('ttf'),
  url('assets/fonts/Roboto_Mono/RobotoMonoThin/RobotoMono-Thin.eot') format('eot');
}*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,500i,700|Roboto:100,300,400,400i,500,700,900');
// Variables
@import "styles/variables/colors";
@import "styles/variables/fonts";
// Mixins
@import "styles/mixins/flex";
@import "styles/mixins/media_queries";
@import "styles/mixins/opacity";
@import "styles/mixins/shadows";
@import "styles/mixins/transform";
@import "styles/mixins/transition";
// Reset
@import "styles/general/reset";
// Generals
@import "styles/general/fonts";
@import "styles/general/sticky-footer";

//------------------------------------------------------------------------------------------------------------------------------------

