@mixin transition($property, $duration, $timing) {
  -moz-transition: $property $duration $timing;
  -webkit-transition: $property $duration $timing;
  -o-transition: $property $duration $timing;
  transition: $property $duration $timing;
}