html, body {
  font-family: $font-open-sans;
  font-size: 10px;
}

// Headlines ------------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: $font-bungee;
}

h1 {
  font-size: 2.6rem;
  font-weight: 900;
  text-align: center;
}
h2 {
  font-size: 2.4rem;
  font-weight: 900;
  text-align: center;
}
h3 {
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
}
h4 {
  font-size: 2.0rem;
  font-weight: 900;
  text-align: center;
}
h5 {
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
}
h6 {
  font-size: 1.6rem;
  font-weight: 900;
  text-align: center;
}

// Paragraphs + Links -----------------------------
p,a {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

a {
  text-decoration: none;
  color: $color-blue-mid;
  @include transition(color, .3s, ease-in-out);

  &:hover {
    color: $color-blue-dark;
  }
}

@include media_mobile() {
  html, body {
    font-size: 12px;
  }
}

@include media_tablet() {
  html, body {
    font-size: 11px;
  }
}

@include media_desktop() {
  html, body {
    font-size: 10px;
  }
}

@include media_desktop_hd() {

}
